.sukaku{
    max-width: 100%;
    border: 1px solid #514d51; 
    margin : auto;
}

.img-logo{
    max-width: 100px;
}

.btn btn-danger{
    background-color : black;
    align-content: center;
}
/* CSS for centering buttons */
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group .btn {
    margin: 0 5px; /* Add some spacing between buttons */
}
